@charset "UTF-8";
.mgt_3 {
  margin-top: 3px;
}

.mgt_8 {
  margin-top: 8px;
}

.mgt_9 {
  margin-top: 9px;
}

.mgt_12 {
  margin-top: 12px;
}

.mgt_16 {
  margin-top: 16px;
}

.mgt_20 {
  margin-top: 20px;
}

.mgt_30 {
  margin-top: 30px;
}

.mgt_32 {
  margin-top: 32px;
}

.mgt_36 {
  margin-top: 36px;
}

.mgt_40 {
  margin-top: 40px;
}

.mgt_52 {
  margin-top: 52px;
}

.mgt_60 {
  margin-top: 60px;
}

.mgt_80 {
  margin-top: 80px;
}

.mgt_92 {
  margin-top: 92px;
}

.mgt_168 {
  margin-top: 168px;
}

.mgt_129 {
  margin-top: 129px;
}

.mgt_142 {
  margin-top: 142px;
}

.mgt_200 {
  margin-top: 200px;
}

.mgb_4 {
  margin-bottom: 4px;
}

.mgb_8 {
  margin-bottom: 8px;
}

.mgb_12 {
  margin-bottom: 12px;
}

.mgb_16 {
  margin-bottom: 16px;
}

.mgb_20 {
  margin-bottom: 20px;
}

.mgb_28 {
  margin-bottom: 28px;
}

.mgb_40 {
  margin-bottom: 40px;
}

.mgb_60 {
  margin-bottom: 60px;
}

.mgb_80 {
  margin-bottom: 80px;
}

.mgb_150 {
  margin-bottom: 150px;
}

.mgb_200 {
  margin-bottom: 200px;
}

.mgr_15 {
  margin-right: 15px;
}

.mgr_20 {
  margin-right: 20px;
}

.mgr_25 {
  margin-right: 25px;
}

.mgr_28 {
  margin-right: 28px;
}

.mgr_29 {
  margin-right: 29px;
}

.mgr_30 {
  margin-right: 30px;
}

.mgr_31 {
  margin-right: 31px;
}

.mgr_32 {
  margin-right: 32px;
}

.mgr_34 {
  margin-right: 34px;
}

.mgr_36 {
  margin-right: 36px;
}

.mgr_41 {
  margin-right: 41px;
}

.mgr_47 {
  margin-right: 47px;
}

.mgr_95 {
  margin-right: 95px;
}

.mgr_150 {
  margin-right: 150px;
}

.mgr_300 {
  margin-right: 300px;
}

.mgr_553 {
  margin-right: 553px;
}

.mgl_34 {
  margin-left: 34px;
}

.mgl_101 {
  margin-left: 101px;
}

.mgl_110 {
  margin-left: 110px;
}

.mgl_405 {
  margin-left: 405px;
}

.pad_t_60 {
  padding-top: 60px;
}

.pad_t_252 {
  padding-top: 252px;
}

.pad_t_312 {
  padding-top: 312px;
}

.pad_r_5 {
  padding-right: 5px;
}

.pad_b_20 {
  padding-bottom: 20px;
}

.pad_b_40 {
  padding-bottom: 40px;
}

.pad_b_60 {
  padding-bottom: 60px;
}

.pad_r_11 {
  padding-right: 11px;
}

.pad_r_32 {
  padding-right: 32px;
}

.pad_l_5 {
  padding-left: 5px;
}

.pad_l_8 {
  padding-left: 8px;
}

.pad_l_405 {
  padding-left: 405px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.trigger-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background: white;
  margin-bottom: 20px;
}

.wrap section {
  position: relative;
  height: 100vh;
}

#button {
  display: inline-block;
  background-color: #000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  bottom: 18%;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
@media (max-width: 1190px) {
  #button {
    bottom: 13%;
  }
}
@media (max-width: 812px) {
  #button {
    background: none;
    bottom: 20%;
  }
}
@media (max-width: 768px) {
  #button {
    background: none;
    bottom: 13%;
  }
}
@media (max-width: 767px) {
  #button {
    width: 30px;
    height: 30px;
    background: none;
    bottom: 18%;
  }
}
@media (max-width: 320px) {
  #button {
    width: 30px;
    height: 30px;
    background: none;
    bottom: 20%;
  }
}
@media (max-height: 414px) {
  #button {
    width: 30px;
    height: 30px;
    background: none;
    bottom: 30%;
  }
}
@media (max-height: 320px) {
  #button {
    width: 30px;
    height: 30px;
    background: none;
    bottom: 40%;
  }
}

#button::after {
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
@media (max-width: 812px) {
  #button::after {
    color: #000;
  }
}
@media (max-width: 768px) {
  #button::after {
    color: #000;
  }
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}
@media (max-width: 812px) {
  #button:hover {
    background: none;
  }
}
@media (max-width: 768px) {
  #button:hover {
    background: none;
  }
}

#button:active {
  background-color: #555;
}
@media (max-width: 812px) {
  #button:active {
    background: none;
  }
}
@media (max-width: 768px) {
  #button:active {
    background: none;
  }
}

#button.show {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 812px) {
  #button.show {
    background: none;
  }
}
@media (max-width: 768px) {
  #button.show {
    background: none;
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1190px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .logo_icon {
  width: 30px;
}
@media (max-width: 767px) {
  .header .logo_icon {
    width: 30px;
  }
}
.header .logo_txt {
  width: 150px;
}
@media (max-width: 767px) {
  .header .logo_txt {
    width: 100px;
    margin-top: 7px;
  }
}
@media (max-width: 1190px) {
  .header {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .header {
    width: 100%;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
}
.menu .mb_hidden a {
  color: #252F3D;
  font-size: 18px;
}
.menu .mb_hidden a:hover {
  -webkit-transition: color 1s;
  transition: color 1s;
  color: #b1afaf;
}
@media (max-width: 767px) {
  .menu .mb_hidden {
    display: none;
  }
}
@media (max-height: 414px) {
  .menu .mb_hidden {
    display: none;
  }
}
.menu .active_now a {
  color: #b1afaf;
}
.menu .active_now a:hover {
  color: #b1afaf;
}

.banner_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 800px;
  background-color: #944800;
}
@media (max-width: 1190px) {
  .banner_txt {
    max-height: 350px;
    margin-bottom: 50px;
  }
}
.banner_txt h1 {
  font-size: 50px;
  font-family: SF Pro Text;
  line-height: 80px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .banner_txt h1 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 5px;
  }
}
@media (max-width: 320px) {
  .banner_txt h1 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 5px;
  }
}
.banner_txt h1 .span {
  font-weight: bolder;
}
@media (max-width: 767px) {
  .banner_txt {
    margin-top: 40px;
  }
}
.banner_txt p {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  font-family: SF Pro Text;
  color: #BEBEBE;
}
@media (max-width: 767px) {
  .banner_txt p {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .banner_txt p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .banner_txt .mb_hidden_txt {
    display: none;
  }
}
.banner_txt .pc_hidden_txt {
  display: none;
}
@media (max-width: 767px) {
  .banner_txt .pc_hidden_txt {
    display: block;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .banner_txt .mb_top {
    margin-top: 50px;
  }
}

.banner_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 800px;
  background-color: #273140;
}
@media (max-width: 1190px) {
  .banner_work {
    max-height: 350px;
    margin-bottom: 50px;
  }
}
.banner_work h1 {
  font-size: 50px;
  font-family: SF Pro Text;
  line-height: 80px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .banner_work h1 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 5px;
  }
}
@media (max-width: 320px) {
  .banner_work h1 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 5px;
  }
}
.banner_work h1 .span {
  font-weight: bolder;
}
@media (max-width: 767px) {
  .banner_work {
    margin-top: 40px;
  }
}
.banner_work p {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  font-family: SF Pro Text;
  color: #BEBEBE;
}
@media (max-width: 767px) {
  .banner_work p {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .banner_work p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .banner_work .mb_hidden_txt {
    display: none;
  }
}
.banner_work .pc_hidden_txt {
  display: none;
}
@media (max-width: 767px) {
  .banner_work .pc_hidden_txt {
    display: block;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .banner_work .mb_top {
    margin-top: 50px;
  }
}

@media (max-width: 1190px) {
  .pad {
    padding-bottom: 60px;
  }
}

.mb-text {
  position: absolute;
  left: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  letter-spacing: 2px;
  text-align: right;
  margin-top: 20px;
  color: #b1afaf;
}
.mb-text p {
  color: #b1afaf;
}
@media (max-width: 320px) {
  .mb-text {
    font-size: 14px;
  }
}

.mb_sub_text, .mb_sub_text_work {
  display: inline-block;
  font-size: 10px;
  font-weight: 900;
  text-align: center;
  line-height: 60;
}
@media (max-width: 320px) {
  .mb_sub_text, .mb_sub_text_work {
    font-size: 14px;
  }
}

.project_title {
  text-align: center;
}
.project_title h1 {
  display: inline;
  font-size: 32px;
  font-family: SF Pro Text;
  font-weight: bold;
  padding-bottom: 16px;
  border-bottom: 2px solid #000;
}
@media (max-width: 320px) {
  .project_title h1 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .project_title h1 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .project_title {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.work_title {
  text-align: center;
}
.work_title h1 {
  display: inline;
  font-size: 32px;
  font-family: SF Pro Text;
  font-weight: bold;
  padding-bottom: 16px;
  border-bottom: 2px solid #000;
}
@media (max-width: 320px) {
  .work_title h1 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .work_title h1 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .work_title {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project h3 {
  font-size: 24px;
  font-weight: bolder;
  font-family: SF Pro Text;
}
@media (max-width: 767px) {
  .project h3 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .project h3 {
    font-size: 20px;
  }
}
.project p {
  line-height: 28px;
  font-size: 16px;
  font-family: SF Pro Text;
}
@media (max-width: 767px) {
  .project p {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .project p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .project {
    margin-bottom: -50px;
  }
}
.project .module_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 1190px) {
  .project .module_right {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .project .module_right {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
.project .module_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1190px) {
  .project .module_left {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .project .module_left {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.more {
  color: #916019;
  font-weight: bolder;
  /*background-color: #F7C244;
  border-radius: 10px;*/
}
.more:hover {
  /*background-color: lighten(#F7C244,10%);*/
  color: #deb887;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
@media (max-width: 767px) {
  .more {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .more {
    font-size: 12px;
  }
}

.item_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
}
@media (max-width: 768px) {
  .item_right {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 550px;
  margin-right: 50px;
}
@media (max-width: 768px) {
  .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 8px;
    margin-right: 0px;
  }
}

.text {
  max-width: 420px;
}
@media (max-width: 1190px) {
  .text {
    margin-left: 10px;
  }
}

.project_img {
  width: 600px;
}

.module_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media (max-width: 1190px) {
  .module_img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 20%;
       object-position: 20%;
  }
}
@media (max-width: 768px) {
  .module_img {
    height: 350px;
  }
}

.work_top_title h1 {
  font-size: 50px;
  font-family: SF Pro Text;
  line-height: 80px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .work_top_title h1 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 5px;
  }
}
@media (max-width: 320px) {
  .work_top_title h1 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 5px;
  }
}

.module_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.module_card img {
  width: 350px;
}
.module_card .card_1 {
  margin-right: 100px;
}
@media (max-width: 768px) {
  .module_card .card_1 {
    margin-right: 0px;
    margin-bottom: 100px;
  }
}
.module_card .card_1 h3 {
  font-size: 20px;
  font-family: SF Pro Text;
  font-weight: bold;
}
.module_card .card_2 h3 {
  font-size: 20px;
  font-family: SF Pro Text;
  font-weight: bold;
}
.module_card .more_work {
  font-weight: bolder;
  border: 2px solid #004B97;
  background-color: white;
  color: #004B97;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.module_card .more_work:hover {
  background-color: #004B97;
  color: #FFFFFF;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
@media (max-width: 320px) {
  .module_card .more_work {
    font-size: 12px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1190px) {
  .about .about_img {
    margin-right: 0px;
  }
}
.about img {
  width: 350px;
}
@media (max-width: 1190px) {
  .about img {
    width: 300px;
  }
}
.about .about_txt {
  max-width: 700px;
}
.about .about_txt h2 {
  font-size: 36px;
  font-weight: bold;
  border: #e4ae60 5px solid;
  display: inline-block;
  padding: 20px;
}
@media (max-width: 1190px) {
  .about .about_txt h2 {
    font-family: 24px;
    text-align: center;
    margin-top: 40px;
    border: none;
    display: block;
  }
}
.about .about_txt p {
  font-size: 16px;
  line-height: 24px;
  font-family: SF Pro Text;
}
@media (max-width: 1190px) {
  .about .about_txt p {
    font-size: 16px;
    margin-top: 8px;
  }
}
@media (max-width: 1190px) {
  .about .about_txt {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.about .about_txt .intro_me {
  border: #252F3D 5px solid;
  padding: 20px;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #f9f9f9;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #252F3D;
  font-family: SF Pro Text;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .connect {
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.connect .connect_txt {
  margin-left: 15px;
  margin-right: 15px;
}
.connect .connect_txt h1 {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .connect .connect_txt h1 {
    font-size: 24px;
  }
}
.connect .connect_txt p {
  color: #b1afaf;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .connect .connect_txt p {
    font-size: 16px;
  }
}

.ham-icon {
  display: none;
  margin-top: 20px;
  border: none;
  color: #252F3D;
}
@media (max-width: 767px) {
  .ham-icon {
    margin-top: 5px;
  }
}

.ham-icon i {
  font-size: 20px;
}

@media (max-width: 767px) {
  .ham-icon {
    display: block;
  }
}
@media (max-height: 414px) {
  .ham-icon {
    display: block;
  }
}
.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 0px;
  -webkit-transition: all 0.8s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  overflow: hidden;
  z-index: 120;
}

.dropdown.active {
  max-height: 414px;
}

.dropdown li a {
  font-size: 30px;
  display: block;
  background: #e4e4e4;
  opacity: 0.98;
  color: #FFFFFF;
  font-weight: bolder;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  text-align: center;
}

.dropdown li a:hover {
  background: #121212;
}
.dropdown li a:active {
  background: #121212;
}

.dropdown .active_page {
  background: #121212;
  color: #FFFFFF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #F0F0F0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F0F0F0;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer img {
  width: 30px;
}
@media (max-width: 767px) {
  .footer img {
    width: 24px;
  }
}
@media (max-width: 320px) {
  .footer img {
    width: 20px;
  }
}
.footer .footer_txt {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #252F3D;
  font-weight: lighter;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .footer .footer_txt {
    font-size: 16px;
  }
}
.footer .footer_icon .icon {
  color: #252F3D;
  font-size: 30px;
}
.footer .footer_icon .icon:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
@media (max-width: 767px) {
  .footer .footer_icon .icon {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .footer .footer_icon .icon {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .footer {
    margin-top: 92px;
  }
}

.about_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 40px;
}
.about_footer .about_footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about_footer .about_footer_logo img {
  width: 30px;
}
@media (max-width: 768px) {
  .about_footer .about_footer_logo img {
    width: 24px;
  }
}
@media (max-width: 320px) {
  .about_footer .about_footer_logo img {
    width: 20px;
  }
}
@media (max-width: 768px) {
  .about_footer .about_footer_logo {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .about_footer_icon_connect .icon_1 {
    margin-right: 5px;
  }
}
.about_footer_icon_connect i {
  color: #252F3D;
  font-size: 30px;
}
.about_footer_icon_connect i:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
@media (max-width: 768px) {
  .about_footer_icon_connect i {
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }
}
@media (max-width: 320px) {
  .about_footer_icon_connect i {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }
}