@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Rubik&family=Seymour+One&family=Sigmar+One&family=Ubuntu:wght@700&display=swap');
$font_page_title_family:'Ubuntu', sans-serif;
$font_page_title_color:#252F3D;
$font_p_title_family:'Rubik', sans-serif;
$font_p_title_color:#9D9D9D;
$font_section_title_family:'Ubuntu', sans-serif;
$font_intro_title_family:'Rubik', sans-serif;