$product_banner-color:#fff;
$product_banner-hover-color:#deb887;
$pagination-font-size:16px;
$pd_icon-i-size:17px;
$line_through:#ADADAD;
$pagination_font-family:SF Pro Text;
$pagination_font-size:20px;
$pagination_color:#000000;
$pagination_hover_color:#916019;
