$content_h2:40px;
$content_h2_lh:60px;
$content_p_lh:36px;
$content_p:24px;
$content_p_weight:lighter;
$font_size_btn:28px;
$font_size_product-btn:20px;
$product-h3-font:32px;
$product-h3-lh:48px;
$product-h3-weight:bolder;
$product-p-font:20px;
$product-p-lh:30px;
$product-p-weight:lighter;
$product-a-font:16px;
$text-4-h3-font:24px;
$text-4-h3-lh:36px;
$text-4-p-font:16px;
$text-4-p-lh:24px;
$footer-font:32px;
$footer-lh:48px;
$product_list_h3_size:24px;
$product_list_h3_lh:36px;
$product_list_h4_size:16px;
$product_list_p_size:16px;
$product-content-h3-size:32px;
$product-content-h3-lh:48px;
$product-content-p-20-size:20px;
$product-content-p-16-size:16px;
$product-content-p-lh:30px;
$transform-a-hover:18px;