.log_in_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        max-width: 730px;
    @media (max-width:768px) {
            margin-top: 40px;
            margin-left: 30px;
        }
    @media (max-width:767px) {
        margin-top: 40px;
        margin-left: 30px;
        max-width: 345px;
    }
    }
}

h1{
    font-size: 32px;
    font-family: "SF Pro Text";
    font-weight: bolder;
    line-height: 48px;
}

h2{
    font-size: 16px;
    font: normal normal normal 16px/22px PingFang TC;
    font-weight: bolder;
    line-height: 22px;
}

.login_txt{
    @media (max-width:1190px) {
        padding-top: 20px;
    }
}

input{
    color: #818A91;
    font-family: "SF Pro Text";
    width: 350px;
    font-size: 16px;
    top: 485px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 10px;

}


.forget{
    width: 350px;
    display: flex;
    justify-content: space-between;
    p{
        font-size: 16px;
        color: #916000;
        font-family: "蘋方-繁";
        font-weight: bolder;
    }
}

.login{
    @include login;
}

.register{
    @include register;
}

.login_footer{
    background-color: #916000;
}