@import "structure";
@import "font_style";
@import "mixin";
@import "reset";

.trigger-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
    background: white;
    margin-bottom: 20px;
  }

  .wrap section {
    position: relative;
    height: 100vh;
  }

#button {
    display: inline-block;
    background-color: #000;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: 18%;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    @media (max-width:1190px) {
        bottom: 13%;
    }
    @media (max-width:812px) {
        background: none;
        bottom: 20%;
    }
    @media (max-width:768px) {
        background: none;
        bottom: 13%;
    }
    @media (max-width:767px) {
        width: 30px;
        height: 30px;
        background: none;
        bottom: 18%;
    }
    @media (max-width:320px) {
        width: 30px;
        height: 30px;
        background: none;
        bottom: 20%;
    }
    @media (max-height:414px) {
        width: 30px;
        height: 30px;
        background: none;
        bottom: 30%;
    }
    @media (max-height:320px) {
        width: 30px;
        height: 30px;
        background: none;
        bottom: 40%;
    }
  }

  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    @media (max-width:812px) {
        color: #000;
    }
    @media (max-width:768px) {
        color: #000;
    }
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
    @media (max-width:812px) {
        background: none;
    }
    @media (max-width:768px) {
        background: none;
    }
  }
  #button:active {
    background-color: #555;
    @media (max-width:812px) {
        background: none;
    }
    @media (max-width:768px) {
        background: none;
    }
  }
  #button.show {
    opacity: 1;
    visibility: visible;
    @media (max-width:812px) {
        background: none;
    }
    @media (max-width:768px) {
        background: none;
    }
  }

.container{
    max-width: 1920px;
    margin: 0 auto;
    @media (max-width:1190px) {
        width: 100%;
    }
    @media (max-width:767px) {
        width: 100%;
    }
}

.header{
    display: flex;
    justify-content: space-around;
    .logo{
        display: flex;
    }
    .logo_icon{
        width: 30px;
        @media (max-width:767px) {
            width: 30px;
        }
    }
    .logo_txt{
        width: 150px;
        @media (max-width:767px) {
            width: 100px;
            margin-top: 7px;
        }
    }
    @media (max-width:1190px) {
        width: 100%;
        justify-content: space-around;
        border-bottom: none;
    }
    
    @media (max-width:767px) {
        width: 100%;
    }
}

.menu{
    display: flex;
    align-items: center;
    font-weight: bolder;
    .mb_hidden{
        a{
            color: #252F3D;
            font-size: 18px;
        &:hover{
            transition:color 1s;
            color: #b1afaf;   
        }
    }
        @media (max-width:767px) {
            display: none;
        }
        @media (max-height:414px) {
            display: none;
        }
    }
    .active_now{
        a{
        color: #b1afaf;
        &:hover{
            color: #b1afaf;
        }
    }
    }
}

.banner_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 800px;
    background-color: lighten(#8f4600,1%);
    @media (max-width:1190px) {
        max-height: 350px;
        margin-bottom: 50px;
    }
    h1{
    font-size: 50px;
    font-family: $font_page_title_family;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
    @media (max-width:767px) {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 5px;
    }
    @media (max-width:320px) {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 5px;
    }
    
    .span{
        font-weight: bolder;
    }
    }
    @media (max-width:767px) {
        margin-top: 40px;
    }
    p{
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        font-family: $font_p_title_family;
        color: $font_p_title_color;
        @media (max-width:767px) {
            font-size: 18px;
        }
        @media (max-width:320px) {
            font-size: 14px;
        }
    }

    .mb_hidden_txt{
        @media (max-width:767px) {
            display: none;
        }
    }
    .pc_hidden_txt{
        display: none;
        @media (max-width:767px) {
            display: block;
            margin-bottom: 50px;
        }
    }

    .mb_top{
        @media (max-width:767px) {
            margin-top: 50px;
        }
    }

}

.banner_work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 800px;
    background-color:lighten(#252F3D,1%);
    @media (max-width:1190px) {
        max-height: 350px;
        margin-bottom: 50px;
    }
    h1{
    font-size: 50px;
    font-family: $font_page_title_family;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
    @media (max-width:767px) {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 5px;
    }
    @media (max-width:320px) {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 5px;
    }
    
    .span{
        font-weight: bolder;
    }
    }
    @media (max-width:767px) {
        margin-top: 40px;
    }
    p{
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        font-family: $font_p_title_family;
        color: $font_p_title_color;
        @media (max-width:767px) {
            font-size: 18px;
        }
        @media (max-width:320px) {
            font-size: 14px;
        }
    }

    .mb_hidden_txt{
        @media (max-width:767px) {
            display: none;
        }
    }

    .pc_hidden_txt{
        display: none;
        @media (max-width:767px) {
            display: block;
            margin-bottom: 50px;
        }
    }

    .mb_top{
        @media (max-width:767px) {
            margin-top: 50px;
        }
    }

}

.pad{
    @media (max-width:1190px) {
        padding-bottom: 60px;
    }
}

.mb-text {
    position: absolute;
    left: 30%;
    transform: translateY(-50%);
    font-size: 20px;
    letter-spacing: 2px;
    text-align: right;
    margin-top: 20px;
    color: #b1afaf;
    p{
        color: #b1afaf;
        }
    @media (max-width:320px) {
        font-size: 14px;
    }
  }

  .mb_sub_text, .mb_sub_text_work {
    display: inline-block;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    line-height: 60;
    @media (max-width:320px) {
        font-size: 14px;
    }
  }

.project_title{
    text-align: center;
    h1{
        display: inline;
        font-size: 32px;
        font-family: $font_section_title_family;
        font-weight: bold;
        padding-bottom: 16px;
        border-bottom: 2px solid #000;
        @media (max-width:320px) {
            font-size: 18px;
        }
        @media (max-width:767px) {
            font-size: 24px;
        }
    }
    @media (max-width:768px) {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

.work_title{
    text-align: center;
    h1{
        display: inline;
        font-size: 32px;
        font-family: $font_section_title_family;
        font-weight: bold;
        padding-bottom: 16px;
        border-bottom: 2px solid #000;
        @media (max-width:320px) {
            font-size: 18px;
        }
        @media (max-width:767px) {
            font-size: 24px;
        }
    }
    @media (max-width:767px) {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

.project{
    h3{
        font-size: 24px;
        font-weight: bolder;
        font-family: $font_intro_title_family;
        @media (max-width:767px) {
            font-size: 20px;
        }
        @media (max-width:320px) {
            font-size: 20px;
        }
    }
    p{
        line-height: 28px;
        font-size: 16px;
        font-family: $font_intro_title_family;
        @media (max-width:767px) {
            font-size: 14px;
        }
        @media (max-width:320px) {
            font-size: 12px;
        }
    }
    @include project;
    @media (max-width:768px) {
        margin-bottom: -50px;
    }
    .module_right{
        @include module_right;
        @media (max-width:1190px) {
            width: 100%;
            flex-wrap: nowrap;
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (max-width:768px) {
            width: 100%;
            flex-wrap: wrap;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }
    .module_left{
        @include module_left;
        @media (max-width:1190px) {
            width: 100%;
            flex-wrap: nowrap;
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (max-width:768px) {
            width: 100%;
            flex-wrap: wrap;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }
    }

    .more{
        color: #916019;
        font-weight: bolder;
        /*background-color: #F7C244;
        border-radius: 10px;*/
        &:hover{
            /*background-color: lighten(#F7C244,10%);*/
            color: #deb887;
            transition:background-color 1s;     
        }
        @media (max-width:767px) {
            font-size: 14px;
            margin-left: 40px;
        }
        @media (max-width:320px) {
                font-size: 12px;
            }
        }

    .item_right{
        h3{
            color: #252F3D;
            }
        display: flex;
        max-width: 550px;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        @media (max-width:768px) {
            flex-wrap: wrap;
            margin-left: 0px;
        }
        a{
            @media (max-width:768px) {
                color: #252F3D;
            }
        }
    }

    .item{
        h3{
            color: #252F3D;
            }
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 550px;
        margin-right: 50px;
        @media (max-width:768px) {
            flex-wrap: wrap;
            margin-top: 8px;
            margin-right: 0px;
        }
        a{
            @media (max-width:768px) {
                color: #252F3D;
            }
        }
    }

    .text{
        max-width:420px;
        @media (max-width:1190px) {
            margin-left: 10px;
        }
    }

.project_img{
        width: 600px;
    }
    
.module_img{
        width:100%;
        object-fit: cover;
        object-position:left;
        @media (max-width:1190px) {
            height: 350px;
            object-fit: cover;
            object-position: 20%
        }
        @media (max-width:768px) {
            height: 350px;
        }
        @media (max-height:414px) {
            height: 250px;
            margin-top: 50px;
        }
    }


.work_top_title{
    h1{
        font-size: 50px;
        font-family: $font_page_title_family;
        line-height: 80px;
        text-align: center;
        color: #FFFFFF;
        font-weight: bolder;
        @media (max-width:767px) {
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 5px;
        }
        @media (max-width:320px) {
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 5px;
        }
    }
}


.module_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img{
    width: 350px;
}
.card_1{
    margin-right: 100px;
    @media (max-width:768px) {
        margin-right: 0px;
        margin-bottom: 100px;
    }
    h3{
        font-size: 20px;
        font-family: $font_p_title_family;
        font-weight: bold;
    }
}

.card_2{
    h3{
        font-size: 20px;
        font-family: $font_p_title_family;
        font-weight: bold;
    }
}

.more_work{
    font-weight: bolder;
    border:  2px solid 	#004B97;
    background-color: white;
    color:#004B97;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    &:hover{
        background-color:#004B97;
        color: #FFFFFF;
        transition:background-color 2s; 
        transition:color 0.5s;     
    }
    @media (max-width:320px) {
            font-size: 12px;
        }
    }
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .about_img{
    @media (max-width:1190px) {
        margin-right: 0px;
    }
}
    img{
        width: 350px;
        @media (max-width:1190px) {
            width: 300px;
        }
    }
    .about_txt{
        max-width: 700px;
        h2{
            font-size: 36px;
            font-weight: bold;
            border:  lighten(#916019,30%) 5px solid;
            display: inline-block;
            padding: 20px;
            @media (max-width:1190px) {
                font-family: 24px;
                text-align: center;
                margin-top: 40px;
                border:none;
                display: block;
            }
        }
        p{
            font-size: 16px;
            line-height: 24px;
            font-family: $font_intro_title_family;
            @media (max-width:1190px) {
                font-size: 16px;
                margin-top: 8px;
            }
        }
        @media (max-width:1190px) {
            margin-left: 20px;
            margin-right: 20px;
        }
        .intro_me{
            border: #252F3D 5px solid;
            padding: 20px;
        }
    }
}

.connect{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color:darken(#FCFCFC,1%);
    padding-top: 80px;
    padding-bottom: 80px;
    color: $font_page_title_color;
    font-family: $font_page_title_family;
    flex-wrap: wrap;
    @media (max-width:767px) {
        margin-bottom: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: start
    }
    .connect_txt{
        margin-left: 15px;
        margin-right: 15px;
        h1{
            font-size: 32px;
            font-weight: bold;
        @media (max-width:767px) {
            font-size: 24px;
        }
    }
        p{
            color: #b1afaf;
            font-size: 20px;
            line-height: 24px;
            @media (max-width:767px) {
                font-size: 16px;
            }
    }}
}

.ham-icon {
    display: none;
    margin-top: 20px;
    border:none;
    color: #252F3D;
    @media (max-width: 767px) {
        margin-top: 5px;
      }
  }

.ham-icon i {
    font-size: 20px;
  }
  
  @media (max-width: 767px) {
    .ham-icon {
      display: block;
    }
  }
  @media (max-height:414px) {
    .ham-icon {
        display: block;
      }
}

.dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0px;
    -webkit-transition: all 0.8s;
    transition: all 0.7s;
    overflow: hidden;
    z-index: 120;
  }
  
.dropdown.active {
    max-height: 414px;
  }
  
.dropdown li a {
    font-size: 30px;
    display: block;
    background:#e4e4e4;
    opacity: 0.98;
    color: #FFFFFF;
    font-weight: bolder;
    padding-top:30px;
    padding-bottom:30px;
    text-decoration: none;
    text-align: center;
  }
  
.dropdown li a {
    &:hover{
        background: #121212;
    }
    &:active{
        background: #121212;
    }
  }

.dropdown .active_page{
    background: #121212;
    color: #FFFFFF;
}

.footer{
    display: flex;
    border-top: 2px solid #F0F0F0;
    justify-content: space-around;
    background-color: #F0F0F0;
    padding-top: 30px;
    padding-bottom: 30px;
    img{
        width: 30px;
        @media (max-width:767px) {
            width: 24px;
        }
        @media (max-width:320px) {
            width: 20px;
        }
    }
    align-items: center;
    .footer_txt{
        font-size: 20px;
        display: flex;
        color: #252F3D;
        font-weight: lighter;
        align-items: center;
        @media (max-width:767px) {
            font-size: 16px;
        }
    }

    .footer_icon{
        .icon{
            color: #252F3D;
            font-size: 30px;
            &:hover{
                transform:scale(1.2,1.2)
            }
            @media (max-width:767px) {
                font-size: 24px;
            }
            @media (max-width:320px) {
                font-size: 20px;
            }
        }
    }
    @media (max-width:767px) {
        margin-top: 92px;
    }
}

.about_footer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 40px;
    .about_footer_logo{
        display: flex;
        align-items: center;
        img{
            width: 30px;
            @media (max-width:768px) {
                width: 24px;
            }
            @media (max-width:320px) {
                width: 20px;
            }
        }
        @media (max-width:768px) {
            font-size: 16px;
        }
    }
}

.about_footer_icon_connect{
    .icon_1{
        @media (max-width:767px) {
            margin-right: 5px;
        }
    }
    i{
        color: #252F3D;
        font-size: 30px;
        &:hover{
            transform:scale(1.2,1.2)
        }
        @media (max-width:768px) {
            font-size: 24px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 15px;
        }
        @media (max-width:320px) {
            font-size: 20px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 15px;
        }
    }
}

.hidden_txt{
    @media (max-width:768px) {
        display: none;
    }
}


.reveal {
    opacity: 0;
  }