@mixin project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin module_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
}

@mixin module_left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin mb_hidden {
    .mb_hidden{
    display: none;
} 
}
