.mgt_3{
    margin-top: 3px;
}

.mgt_8{
    margin-top: 8px;
}

.mgt_9{
    margin-top: 9px;
}

.mgt_12{
    margin-top: 12px;
}

.mgt_16{
    margin-top: 16px;
}

.mgt_20{
    margin-top: 20px;
}

.mgt_30{
    margin-top: 30px;
}

.mgt_32{
    margin-top: 32px;
}

.mgt_36{
    margin-top: 36px;
}

.mgt_40{
    margin-top: 40px;
}

.mgt_52{
    margin-top: 52px;
}

.mgt_60{
    margin-top: 60px;
}

.mgt_80{
    margin-top: 80px;
}

.mgt_92{
    margin-top: 92px;
}

.mgt_168{
    margin-top: 168px;
}

.mgt_129{
    margin-top: 129px;
  }
  
.mgt_142{
      margin-top: 142px;
  }

.mgb_4{
    margin-bottom: 4px;
}

.mgb_8{
    margin-bottom: 8px;
}

.mgb_12{
    margin-bottom: 12px;
}

.mgb_16{
    margin-bottom: 16px;
}

.mgb_20{
    margin-bottom: 20px;
}

.mgb_28{
    margin-bottom: 28px;
}

.mgb_40{
    margin-bottom: 40px;
}

.mgb_60{
    margin-bottom: 60px;
}

.mgb_80{
    margin-bottom: 80px;
}

.mgb_150{
    margin-bottom: 150px;
}

.mgb_200{
    margin-bottom: 200px;
}

.mgr_15{
    margin-right: 15px;
}

.mgr_20{
    margin-right: 20px;
}

.mgr_25{
    margin-right: 25px;
}

.mgr_28{
    margin-right: 28px;
}

.mgr_29{
    margin-right: 29px;
}

.mgr_30{
    margin-right: 30px;
}

.mgr_31{
    margin-right: 31px;
}

.mgr_32{
    margin-right: 32px;
}

.mgr_34{
    margin-right: 34px;
}

.mgr_36{
    margin-right: 36px;
}

.mgr_41{
    margin-right: 41px;
}

.mgr_47{
    margin-right: 47px;
}

.mgr_95{
    margin-right: 95px;
}

.mgr_300{
    margin-right: 300px;
}

.mgr_553{
    margin-right: 553px;
}

.mgl_34{
    margin-left: 34px;
}

.mgl_101{
    margin-left: 101px;
}

.mgl_110{
    margin-left: 110px;
}

.mgl_405{
    margin-left: 405px;
}

.pad_t_60{
    padding-top: 60px;
}
.pad_t_252{
    padding-top: 252px;
}

.pad_t_312{
    padding-top: 312px;
}

.pad_r_5{
    padding-right: 5px;
}

.pad_b_40{
    padding-bottom: 40px;
}

.pad_r_11{
    padding-right: 11px;
}

.pad_r_32{
    padding-right: 32px;
}

.pad_l_5{
    padding-left: 5px;
}

.pad_l_8{
    padding-left: 8px;
}

.pad_l_405{
    padding-left: 405px;
}



  




