$icon-color:#8D8D8D;
$a-i-hover:darken(#8D8D8D,30%);
$banner-text-color:#FFFFFF;
$transform-icon-hover:scale(1.2,1.2);
$btn-color:#FFFFFF;
$product-btn-color:#000000;
$btn-background:#FFFFFF4D 0% 0% no-repeat padding-box;
$product-btn-background:#0000000D 0% 0% no-repeat padding-box;
$btn-transition: all 0.5s ease-out;
$product-h3-font-family:SF Pro Text;
$product-p-font-family:蘋方-繁;
$product-a-font-family:蘋方-繁;
$product-a-color:#AC8A46;
$product-list-background:#E0E0E0;
$transform-icon-hover:scale(1,1);
$transform-product:scale(1,1);
$transform-product-hover:scale(1.1,1.1);
$transition-product:all 1s ease-out;
$bg-orange:#916000;
$footer-color:#8D8D8D;
$product_list_fontfamily:SF Pro Text;
$line_through:#8D8D8D;
$product_content-fontfamily:SF Pro Text;